:root {
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #b7a3ca;
  --secondary-color: #c5c4c4;
  --branding-color: #4b3a70;
  --backround-color: #322f43;
  --darkest-color: #212532;
  --golden-color: #c4945c;
}

body {
  margin: 0 auto;
  background-color: var(--secondary-color);
  font-family: var(--default-font-family);
}

header {
  background-color: var(--branding-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 120px;
  color: var(--darkest-color);
}

h2 {
  color: var(--primary-color);
  font-weight: normal;
  line-height: 2;
  font-size: 40;
}

h3 {
  font-family: var(--heading-font-family);
  color: var(--secondary-color);
  font-size: 60px;
}
h4 {
  font-size: 40px;
  color: var(--golden-color);
}
p {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 35px;
  font-weight: normal;
  color: var(--secondary-color);
}

.nav-link {
  color: var(--secondary-color);
  font-size: 18px;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link:hover {
  transform: scale(1.3);
  font-weight: bolder;
  transition: all 100ms ease-in-out;
}

.btn-branding {
  background: var(--branding-color);
  color: var(--primary-color);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
}
.btn-branding:hover {
  transition: all 100ms ease-in-out;
  color: var(--darkest-color);
  background: #c4945c;
  border-radius: 15px;
}
.btn-branding-outline {
  background-color: var(--branding-color);
  color: var(--primary-color);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
}
.btn-branding-outline:hover {
  transition: all 100ms ease-in-out;
  color: var(--darkest-color);
  background: #c4945c;
}

.index-container {
  margin: 0 30px;
}

.index-container .col img:hover {
  transform: scale(1.2);
  transition: all 100ms ease-in-out;
}

.index-container img {
  border-radius: 20px;
}

.project-container {
  margin: 0 20px;
}

.project-container img {
  border-radius: 20px;
}

.project-container img:hover {
  transform: scale(1.2);
  transition: all 100ms ease-in-out;
}

.about-section .skill-icon {
  display: flex;
  margin: 0 8px;
  justify-content: center;
  height: 75px;
}

.contact-container {
  background-color: var(--branding-color);
  padding: 70px;
}

.contact-section a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
}
.contact-section a:hover {
  padding: 14px;
  transition: all 80ms ease-in-out;
  color: var(--darkest-color);
  background: #c4945c;
}

footer {
  text-align: center;
  background-color: var(--backround-color);
  color: var(--primary-color);
}

footer img .footer-logo {
  padding: 20px;
}

footer .social-links a {
  font-size: 50px;
  padding: 20px;
  color: var(--branding-color);
}

footer .social-links i:hover {
  font-size: 80px;
  transition: all 100ms ease-in-out;
  color: #c4945c;
}

.page-end p {
  color: var(--branding-color);
}

.page-end a {
  text-decoration: none;
  font-weight: bold;
  color: var(--darkest-color);
}

.page-end a:hover {
  color: var(--golden-color);
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
    line-height: 20px;
  }
  header {
    height: 40vh;
    margin-top: 60px;
  }

  footer img {
    width: 50px;
  }

  footer .social-links a {
    font-size: 25px;
  }

  footer .social-links i:hover {
    font-size: 40px;
  }

  .navbar-brand {
    width: 20px;
  }

  .btn-branding {
    padding: 7px 30px;
    font-size: 15px;
  }

  .btn-branding-outline {
    background-color: #4b3a70;
    color: #b7a3ca;
    padding: 7px 30px;
    font-size: 15px;
  }
  .contact-container {
    margin: 0 auto;
    border-radius: 0;
  }
  .contact-section a {
    font-size: 18px;
  }
  .contact-section a:hover {
    color: var(--secondary-color);
    background: var(--darkest-color);
    padding: 5px;
  }
  .about-section .skill-icon {
    display: none;
  }
  .credential-section p {
    margin: 0;
  }
  .project-container img:hover {
    transform: none;
  }
  .project-container h4 {
    margin-bottom: 1px;
  }
  .project-container p {
    margin-bottom: 40px;
  }
}
