:root {
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #b7a3ca;
  --secondary-color: #c5c4c4;
  --branding-color: #4b3a70;
  --backround-color: #322f43;
  --darkest-color: #212532;
  --golden-color: #c4945c;
}

body {
  margin: 0 auto;
  background-color: var(--secondary-color);
  font-family: var(--default-font-family);
}

header {
  background-color: var(--branding-color);
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

header .bio-section {
  margin-left: 100px;
  margin-top: 100px;
}

h1 {
  font-size: 100px;
  color: var(--darkest-color);
}

h2 {
  color: var(--primary-color);
  font-weight: normal;
  line-height: 2;
  font-size: 40;
}

h3 {
  color: var(--secondary-color);
  font-size: 60px;
}
h4 {
  font-size: 40px;
  color: var(--golden-color);
}
p {
  font-size: 18px;
  line-height: 35px;
  font-weight: normal;
  color: var(--secondary-color);
}

nav {
  padding: 20px 0;
  text-align: start;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--backround-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
  font-weight: bold;
}

nav .logo {
  max-height: 40px;
  border-radius: 3px;
}

/* .btn-branding {
  background: var(--branding-color);
  color: var(--primary-color);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
} */
/* .btn-branding:hover {
  transition: all 100ms ease-in-out;
  color: var(--darkest-color);
  background:var(--golden-color);
  border-radius: 15px;
}
.btn-branding-outline {
  background-color: var(--branding-color);
  color: var(--primary-color);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
}
.btn-branding-outline:hover {
  transition: all 100ms ease-in-out;
  color: var(--darkest-color);
  background: #c4945c;
} */

/* .index-container {
  margin: 0 30px;
} */

.index-container .col img:hover {
  transform: scale(1.2);
  transition: all 100ms ease-in-out;
}

.index-container img {
  border-radius: 20px;
}

.project-container {
  margin: 0 20px;
}

.project-container img {
  border-radius: 20px;
}

.project-container img:hover {
  transform: scale(1.2);
  transition: all 100ms ease-in-out;
}

.about-section .skill-icon {
  display: flex;
  margin: 0 8px;
  justify-content: center;
  height: 75px;
}

.contact-container {
  background-color: var(--branding-color);
  padding: 70px;
}

.contact-section a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
}
.contact-section a:hover {
  padding: 14px;
  transition: all 80ms ease-in-out;
  color: var(--darkest-color);
  background: #c4945c;
}

footer {
  text-align: center;
  margin: 60px 0;
  background-color: var(--backround-color);
  color: var(--primary-color);
}

footer .social-links a {
  font-size: 50px;
  padding: 20px;
  color: var(--branding-color);
}

footer .social-links i:hover {
  font-size: 80px;
  transition: all 100ms ease-in-out;
  color: var(--golden-color);
}

.page-end p {
  color: var(--branding-color);
}

.page-end a {
  text-decoration: none;
  font-weight: bold;
  color: var(--darkest-color);
}

.page-end a:hover {
  color: var(--golden-color);
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 1040px) {
  header .bio-section {
    margin: 0;
  }
  header h2 {
    line-height: 1.5;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    text-align: center;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
    line-height: 1.7;
  }

  footer .social-links a {
    font-size: 25px;
  }

  footer .social-links i:hover {
    font-size: 40px;
  }
  /* .btn-branding {
    padding: 7px 30px;
    font-size: 15px;
  }

  .btn-branding-outline {
    background-color: #4b3a70;
    color: #b7a3ca;
    padding: 7px 30px;
    font-size: 15px;
  } */
  .contact-container {
    margin: 0 auto;
    border-radius: 0;
  }
  .contact-section a {
    font-size: 18px;
  }
  .contact-section a:hover {
    color: var(--secondary-color);
    background: var(--darkest-color);
    padding: 5px;
  }
  .about-section .skill-icon {
    display: none;
  }
  .credential-section p {
    margin: 0;
  }
  .project-container img:hover {
    transform: none;
  }
  .project-container h4 {
    margin-bottom: 1px;
  }
  .project-container p {
    margin-bottom: 40px;
  }
}
